.album
	%img.cover(src="../assets/cover.jpg")

	.tracks
		.title Fastfall
		.list
			- album.songs.each do |song|
				.track
					= song.name

	.desc
		= album.description

	.bundle-list
		.bundle
			.price 
				.number $3,99
				span or more
			.desc
				| Add it to the shelf with 3 bonus tracks.